<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner</title>
</head>
<body>
    <div class="flex flex-col border shadow-md w-full h-[65vh] ">
        <img class="bg-cover bg-no-repeat object-cover object-[top] bg-center h-full" src="<%=coverpicture%>"></img>
        <img src="<%=displaypicture%>" alt="" class="profile w-64 h-64 absolute top-[35rem]  left-[11rem] object-fill rounded-full z-10">
        <div class="  w-full h-[35.5vh] p-14 relative right-10  bottom-10 flex flex-col justify-between  ">
            <div class="title flex flex-col justify-between h-20">
                <h1 class="font-bold text-2xl relative left-20 "><%=firstname%>   <%=lastname%></h1>
                <span class="relative left-20 font-bold text-red-500 "><%=followers.length%> followers <%=following.length%> following</span>
            </div>
            <div class="discription relative left-56 h-24 flex flex-col justify-around ">
                <p class="text-black font-bold "><%=bio%></p>
                <div class="h-14 relative  top-5 flex">
                    <% if(ownprofile){%>
                        <a class=" bg-[#0453e8] text-white flex justify-center items-center   rounded-full" href="/dp"> EditAvatar</a>
                        <a class= "bg-[#0453e8] text-white flex justify-center items-center rounded-full" href="/create/post">Create Post</a>
                        <a class= "bg-[#0453e8] text-white flex justify-center items-center rounded-full" href="/cover">Edit Cover and Bio</a>
                    <%} else{%>
                        

                            <form id="follow" class="w-20 h-20   flex justify-center items-center containerbuttons" action="/follow/<%=username%>" method="POST">
                                <input for="follow" class="bg-blue-700 text-white font-bold rounded-full" type="submit" value="follow"  />
                            </form>

                            <!-- <button id="follow" class="bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Follow</button>
                            <button id="message" class="bg-blue-700 text-white font-bold py-2 px-4 rounded-full">message</button> -->

                 <%   }  %>
                  
                  
                </div>
            </div>
            <%- include('./profilenav'); -%>
        </div>
    </div>
</body>
<script src="/javascripts/banner.js"></script>
</html>