<!DOCTYPE html>
<html>
<head>
	<title><%=username%></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
	<base href="/">
</head>
<body>
	<header>
		<%- include('partials/navbar'); -%>
		<main>
			<%- include('partials/banner'); -%>
	</header>
<div class="postcontent w-full  flex items-center flex-col gap-10 relative bottom-24 ml-10 mr-20">
	<% posts.forEach(function(item,index) { %>
		<!-- <li><%= item.caption  %></li> -->
		<%- include('components/card',{items:item}); -%>
		<% }); %>
</div>
</body>
<script src="/javascripts/caption.js"></script>
<script src="/javascripts/updateLike.js"></script>
</html>